* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.7;
  font-weight: 350;
}

.container {
  max-width: 1200px;
  padding: 1rem 2.5rem;
  margin: auto;
  overflow: hidden;
}

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2.5rem 0;
}

.py-3 {
  padding: 3.5rem 0;
}

.img-container img {
  height: 100%;
  width: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

#home-header .head-content .btn {
  display: inline-block;
  margin-top: 1rem;
  color: #ffffff;
  border: 1px solid #007BFF;
  border-radius: 3px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0.5rem 2rem;
}

.center h1 {
  font-size: 2.1rem;
  margin-bottom: 0.5rem;
}

.center .btm-line {
  height: 2px;
  width: 10rem;
  margin-bottom: 2rem;
  background: #007BFF;
}

.center p {
  font-size: 1.2rem;
  font-weight: 400;
}

h1 {
  font-weight: 300;
}

#home-header {
  position: relative;
  height: 100vh;
  background: url("/images/head-bg.jpg") no-repeat center center/cover;
}

#home-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#home-header nav {
  position: relative;
  color: #ffffff;
  padding: 0.8rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

#home-header nav .img-container {
  height: 9.5%;
  width: 9.5%;
}

#home-header nav .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
}

#home-header nav .menu-items li {
  padding: 0rem 1.5rem;
}

#home-header nav .menu-items a {
  position: relative;
  color: #ffffff;
  font-size: 1.2rem;
  padding-bottom: 0.1rem;
}

#home-header nav .menu-items a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.1px;
  height: 3px;
  width: 100%;
  background-color: #007BFF;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

#home-header nav .menu-items a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#home-header .head-content {
  position: relative;
  z-index: 5;
  color: #ffffff;
  padding: 6rem 0rem 0rem 2rem;
}

#home-header .head-content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

#home-header .head-content .btn {
  font-size: 1.1rem;
  padding: 0.4rem 1.4rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#home-header .head-content .btn.btn-color {
  background: #007BFF;
  border: none;
  margin-right: 1rem;
}

#home-header .head-content .btn.btn-color:hover {
  background: rgba(51, 51, 51, 0.95);
}

#home-header .head-content .btn.button:hover {
  background: #007BFF;
}

#features {
  background: #F4F4F4;
  padding-bottom: 0.5rem;
}

#features .center {
  margin-bottom: 1rem;
}

#features .feature-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  padding: 1rem;
}

#features .feature-content .box {
  padding: 1rem;
}

#features .feature-content .box svg {
  width: 20%;
  fill: #007BFF;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  margin-bottom: 1.5rem;
}

#features .feature-content .box h2 {
  font-weight: 400;
  margin-bottom: 0.75rem;
}

#features .feature-content .box p {
  font-size: 1.2rem;
  font-weight: 300;
}

#images .img-boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

#images .img-boxes .img-container {
  border-radius: 3px;
  overflow: hidden;
}

#images .img-boxes .img-container:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

#working {
  background: #F4F4F4;
}

#working .center {
  margin-bottom: 2rem;
}

#working .contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 5fr;
      grid-template-columns: 2fr 2fr 5fr;
  grid-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#working .contents .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#working .contents .infos {
  font-display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

#working .contents .infos .info-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

#working .contents .infos .info-1 .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5rem;
  width: 4rem;
  padding: 1rem;
  color: #007BFF;
  font-weight: 400;
  font-size: 1.3rem;
  margin-right: 1rem;
  border-radius: 50%;
  border: 2px solid #007BFF;
}

#working .contents .infos .info-2 .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#working .contents .infos .info-2 .img-container img {
  margin-top: 1rem;
  width: 25%;
}

#working .contents .infos .info-2 .img-container .img-edit {
  width: 33%;
  margin-left: 1.5rem;
  border-radius: 5px;
}

#cities .cities-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

#cities .cities-info h2 {
  font-weight: 300;
  font-size: 1.65rem;
}

#cities .cities-info ul li {
  padding: 0.25rem;
  font-size: 1.2rem;
}

#cities .cities-info ul li i {
  margin-right: 0.75rem;
  color: #007BFF;
}

#cities .cities-info ul li a {
  color: #007BFF;
}

#cities .cities-info ul li a:hover {
  text-decoration: underline;
}

#customers {
  color: #ffffff;
  position: relative;
  height: 85vh;
  background: url("/images/back-customers.jpg") no-repeat center center/cover;
}

#customers::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

#customers .container {
  position: relative;
  z-index: 5;
}

#customers .center {
  margin-bottom: 0.5rem;
}

#customers .infos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

#customers .infos .box {
  padding: 0.5rem;
}

#customers .infos .box i {
  margin-bottom: 0.5rem;
}

#customers .infos .box p {
  font-family: 'Raleway', sans-serif;
}

#customers .infos .box p.reviews {
  font-size: 1.1rem;
  font-weight: 400;
}

#customers .infos .box .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

#customers .infos .box .names .img-container {
  height: 20%;
  width: 20%;
}

#customers .infos .box .names .img-container img {
  border-radius: 50%;
}

#customers .infos .box .names p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 1rem;
}
