* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.7;
  font-weight: 350;
}

.container {
  max-width: 1200px;
  padding: 1.5rem 2.5rem;
  margin: auto;
  overflow: hidden;
}

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2.5rem 0;
}

.py-3 {
  padding: 3.5rem 0;
}

.img-container img {
  height: 100%;
  width: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  color: #ffffff;
  border: 1px solid #007BFF;
  border-radius: 3px;
}

.btn {
  font-size: 1.1rem;
  padding: 0.4rem 1.4rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0.5rem 2rem;
}

.center h1 {
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.center .btm-line {
  height: 2px;
  width: 10rem;
  margin-bottom: 1rem;
  background: #007BFF;
}

.center p {
  font-size: 1.2rem;
  font-weight: 400;
}

h1 {
  font-weight: 300;
}

@media (max-width: 1075px) {
  .center h1 {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }
  .center .btm-line {
    margin-bottom: 0.75rem;
  }
  .center p {
    font-size: 1.1rem;
  }
}

@media (max-width: 875px) {
  .btn {
    font-size: 1rem;
    padding: 0.3rem 1.2rem;
  }
  .center h1 {
    font-weight: 300;
  }
}

@media (max-width: 750px) {
  .center h1 {
    font-size: 1.7rem;
  }
  .center p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .center h1 {
    font-size: 1.65rem;
  }
}

#home-header {
  position: relative;
  height: 100vh;
  background: url("/images/head-bg.jpg") no-repeat center center/cover;
}

#home-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#home-header nav {
  position: relative;
  color: #ffffff;
  padding: 1rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

#home-header nav .img-container {
  height: 9.5%;
  width: 9.5%;
}

#home-header nav .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
}

#home-header nav .menu-items .menu-item {
  padding: 0rem 1.5rem;
}

#home-header nav .menu-items .menu-item a {
  position: relative;
  color: #ffffff;
  font-size: 1.2rem;
  padding-bottom: 0.1rem;
}

#home-header nav .menu-items .menu-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.1px;
  height: 3px;
  width: 100%;
  background-color: #007BFF;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

#home-header nav .menu-items .menu-item a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#home-header .head-content {
  position: relative;
  z-index: 5;
  color: #ffffff;
  padding: 6rem 0rem 0rem 2rem;
}

#home-header .head-content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

#home-header .head-content .btn.btn-color {
  background: #007BFF;
  border: none;
  margin-right: 1rem;
}

#home-header .head-content .btn.btn-color:hover {
  background: rgba(51, 51, 51, 0.95);
}

#home-header .head-content .btn.button:hover {
  background: #007BFF;
}

@media (max-width: 1075px) {
  #home-header nav .img-container {
    height: 10%;
    width: 10%;
  }
  #home-header .head-content {
    padding-top: 6.5rem;
  }
  #home-header .head-content h1 {
    font-size: 2.5rem;
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 875px) {
  #home-header nav .img-container {
    height: 15%;
    width: 15%;
  }
  #home-header .head-content {
    padding-top: 5.8rem;
  }
  #home-header .head-content h1 {
    font-size: 2.3rem;
  }
}

@media (max-width: 750px) {
  #home-header nav .img-container {
    height: 17%;
    width: 17%;
  }
  #home-header .head-content {
    padding-top: 6.25rem;
  }
  #home-header .head-content h1 {
    font-size: 2rem;
  }
}

@media (max-width: 675px) {
  #home-header nav .img-container {
    height: 18.5%;
    width: 18.5%;
  }
}

@media (max-width: 600px) {
  #home-header nav .img-container {
    height: 23%;
    width: 23%;
  }
  #home-header .head-content {
    padding-right: 0.75rem;
  }
  #home-header .head-content h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 550px) {
  #home-header nav .img-container {
    height: 25%;
    width: 25%;
  }
  #home-header .head-content h1 {
    font-size: 1.65rem;
  }
}

#features {
  background: #F4F4F4;
  padding-bottom: 0.5rem;
}

#features .center {
  margin-bottom: 1.5rem;
}

#features .feature-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  padding: 1rem;
}

#features .feature-content .box {
  padding: 1rem;
}

#features .feature-content .box svg {
  width: 20%;
  fill: #007BFF;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  margin-bottom: 1.5rem;
}

#features .feature-content .box h2 {
  font-weight: 200;
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

#features .feature-content .box p {
  font-size: 1.2rem;
  font-weight: 400;
}

@media (max-width: 1075px) {
  #features .center {
    margin-bottom: 1.3rem;
  }
  #features .feature-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #features .feature-content .box h2 {
    font-size: 1.5rem;
  }
  #features .feature-content .box p {
    font-size: 1.16rem;
  }
}

@media (max-width: 875px) {
  #features .feature-content {
    grid-gap: 2rem;
  }
  #features .feature-content .box {
    padding: 1.5rem;
  }
  #features .feature-content .box svg {
    width: 18%;
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 750px) {
  #features .feature-content {
    grid-gap: 2.5rem;
  }
  #features .feature-content .box {
    padding: 0.5rem;
  }
  #features .feature-content .box h2 {
    font-size: 1.5rem;
  }
  #features .feature-content .box p {
    font-size: 1.15rem;
  }
}

@media (max-width: 675px) {
  #features .center {
    margin-bottom: 0.5rem;
  }
  #features .feature-content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #features .feature-content .box {
    text-align: center;
  }
  #features .feature-content .box:not(.last-box) {
    border-bottom: 0.1px dotted #007BFF;
    padding-bottom: 1.2rem;
  }
}

#images .img-boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

#images .img-boxes .img-container {
  border-radius: 3px;
  overflow: hidden;
}

#images .img-boxes .img-container:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@media (max-width: 1075px) {
  #images .img-boxes {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-left: 2.5rem;
  }
  #images .img-boxes .img-container {
    width: 90%;
  }
}

@media (max-width: 875px) {
  #images .img-boxes {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    margin-left: 0.5rem;
  }
  #images .img-boxes .img-container {
    width: 100%;
  }
}

@media (max-width: 575px) {
  #images .img-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #images .img-boxes .img-container {
    width: 90%;
  }
}

#working {
  background: #F4F4F4;
}

#working .center {
  margin-bottom: 2rem;
}

#working .contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 5fr;
      grid-template-columns: 2fr 2fr 5fr;
  grid-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#working .contents .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#working .contents .infos {
  font-display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

#working .contents .infos .info-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

#working .contents .infos .info-1 .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5rem;
  width: 4rem;
  padding: 1rem;
  color: #007BFF;
  font-weight: 400;
  font-size: 1.3rem;
  margin-right: 1rem;
  border-radius: 50%;
  border: 2px solid #007BFF;
}

#working .contents .infos .info-2 .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#working .contents .infos .info-2 .img-container img {
  margin-top: 1rem;
  width: 25%;
}

#working .contents .infos .info-2 .img-container .img-edit {
  width: 33%;
  margin-left: 1.5rem;
  border-radius: 5px;
}

@media (max-width: 1050px) {
  #working .center {
    margin-bottom: 0.1rem;
  }
  #working .contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #working .contents .img-container {
    width: 25%;
    height: 25%;
    margin-bottom: 0.1rem;
  }
  #working .contents .infos {
    padding: 0rem 5rem;
  }
  #working .contents .infos .info-1 {
    padding: 0rem 3rem;
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
  }
  #working .contents .infos .info-1 .number {
    font-size: 1.2rem;
  }
  #working .contents .infos .info-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #working .contents .infos .info-2 .img-container img {
    width: 75%;
  }
  #working .contents .infos .info-2 .img-container .img-edit {
    width: 100%;
  }
}

@media (max-width: 750px) {
  #working .center {
    margin-bottom: 0rem;
  }
  #working .contents .img-container {
    margin-top: 0rem;
  }
  #working .contents .infos {
    padding: 0rem 2.5rem;
  }
  #working .contents .infos .info-1 {
    padding: 0rem 1rem;
    font-size: 1.1rem;
  }
  #working .contents .infos .info-2 .img-container img {
    width: 100%;
  }
  #working .contents .infos .info-2 .img-container .img-edit {
    width: 120%;
  }
}

@media (max-width: 675px) {
  #working .center {
    padding: 0.1rem;
  }
  #working .center h1 {
    font-size: 1.65rem;
  }
}

@media (max-width: 600px) {
  #working .center h1 {
    font-size: 1.55rem;
  }
  #working .contents .img-container {
    width: 45%;
    height: 30%;
  }
  #working .contents .infos {
    padding: 0rem 1rem;
  }
  #working .contents .infos .info-1 {
    padding: 0rem 0rem;
    font-size: 1.05rem;
  }
  #working .contents .infos .info-2 {
    padding-bottom: 1rem;
  }
  #working .contents .infos .info-2 .img-container img {
    width: 75%;
  }
  #working .contents .infos .info-2 .img-container .img-edit {
    width: 90%;
  }
}

#cities .center {
  margin-bottom: 1.5rem;
}

#cities .cities-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

#cities .cities-info h2 {
  font-weight: 300;
  font-size: 1.65rem;
}

#cities .cities-info ul li {
  padding: 0.25rem;
  font-size: 1.2rem;
}

#cities .cities-info ul li i {
  margin-right: 0.75rem;
  color: #007BFF;
}

#cities .cities-info ul li a {
  color: #007BFF;
}

#cities .cities-info ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 875px) {
  #cities .cities-info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #cities .cities-info h2 {
    font-weight: 300;
    font-size: 1.5rem;
  }
  #cities .cities-info ul li {
    padding: 0.2rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 575px) {
  #cities .cities-info {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}

#customers {
  color: #ffffff;
  position: relative;
  height: 85vh;
  background: url("/images/back-customers.jpg") no-repeat center center/cover;
}

#customers::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

#customers .container {
  position: relative;
  z-index: 5;
}

#customers .center {
  margin-bottom: 0.5rem;
}

#customers .infos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

#customers .infos .box {
  padding: 0.5rem;
}

#customers .infos .box i {
  margin-bottom: 0.5rem;
}

#customers .infos .box p {
  font-family: 'Raleway', sans-serif;
}

#customers .infos .box p.reviews {
  font-size: 1.1rem;
  font-weight: 400;
}

#customers .infos .box .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

#customers .infos .box .names .img-container {
  height: 20%;
  width: 20%;
}

#customers .infos .box .names .img-container img {
  border-radius: 50%;
}

#customers .infos .box .names p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 1rem;
}

@media (max-width: 1075px) {
  #customers .infos {
    grid-gap: 1.3rem;
  }
  #customers .infos .box p.reviews {
    font-size: 1.09rem;
  }
  #customers .infos .box .names p {
    font-size: 1rem;
  }
}

@media (max-width: 875px) {
  #customers {
    height: 140vh;
  }
  #customers .center {
    margin-bottom: 1rem;
  }
  #customers .infos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  #customers .infos .box .names p {
    font-size: 1rem;
  }
}

@media (max-width: 750px) {
  #customers {
    height: 144vh;
  }
}

@media (max-width: 600px) {
  #customers {
    height: 185vh;
  }
  #customers .center {
    padding: 0.5rem;
  }
  #customers .center h1 {
    font-size: 1.5rem;
  }
  #customers .infos {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #customers .infos .box .names {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#packages {
  background: #F4F4F4;
}

#packages .center {
  margin-bottom: 1.5rem;
}

#packages .package-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding: 1rem;
}

#packages .package-box .box .box-up {
  background: #ffff;
  padding: 1rem;
}

#packages .package-box .box .box-up h2 {
  font-weight: 300;
  font-size: 1.6rem;
}

#packages .package-box .box .box-up p.color-p {
  color: #007BFF;
  font-size: 1.5rem;
}

#packages .package-box .box .box-up p .large {
  font-weight: 300;
  font-size: 3rem;
}

#packages .package-box .box .box-down {
  background: #ffffff;
  margin-top: 0.2rem;
  padding: 1rem;
}

#packages .package-box .box .box-down ul li {
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
}

#packages .package-box .box .box-down ul li i {
  color: #007BFF;
  margin-right: 0.75rem;
}

#packages .package-box .box .box-button {
  background: #ffffff;
  margin-top: 0.2rem;
  padding: 1rem 0rem;
  text-align: center;
}

#packages .package-box .box .box-button .btn {
  background: #007BFF;
  margin: 1rem 0rem;
}

#packages .package-box .box .box-button .btn:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #333333;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}

@media (max-width: 1075px) {
  #packages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #packages .package-box {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 875px) {
  #packages .package-box .box .box-up h2 {
    font-size: 1.3rem;
  }
  #packages .package-box .box .box-up p.color-p {
    font-size: 1.3rem;
  }
  #packages .package-box .box .box-up p .large {
    font-size: 2rem;
  }
  #packages .package-box .box .box-down ul li {
    padding: 0.25rem;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  #packages .center {
    margin-bottom: 0.1rem;
  }
  #packages .package-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 0rem;
  }
  #packages .package-box .box {
    padding: 2.5rem;
  }
  #packages .package-box .box .box-up {
    text-align: center;
  }
  #packages .package-box .box .box-up h2 {
    font-size: 1.1rem;
  }
  #packages .package-box .box .box-up p.color-p {
    font-size: 1.1rem;
  }
  #packages .package-box .box .box-up p .large {
    font-size: 1.5rem;
  }
  #packages .package-box .box .box-down ul li {
    padding: 0.5rem;
  }
}

#sign-in .center {
  margin-bottom: 1rem;
}

#sign-in .login {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr 1fr;
      grid-template-columns: 1fr 1.5fr 1fr;
}

#sign-in .login .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sign-in .login .form label {
  font-size: 1.2rem;
  font-weight: 300;
}

#sign-in .login .form input {
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 0.75rem;
  border: 1px solid #333333;
  border-radius: 2px;
}

#sign-in .login .form select {
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 0.75rem;
  border: 1px solid #333333;
  border-radius: 2px;
}

#sign-in .login .form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #333333;
  border-radius: 2px;
  margin-bottom: 1rem;
}

#sign-in .login .form .btn {
  background: #007BFF;
  border: 1px solid #007BFF;
  width: 35%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#sign-in .login .form .btn:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #333333;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}

@media (max-width: 875px) {
  #sign-in .login {
    -ms-grid-columns: 1fr 2.5fr 1fr;
        grid-template-columns: 1fr 2.5fr 1fr;
  }
}

@media (max-width: 750px) {
  #sign-in .login {
    -ms-grid-columns: 1fr 3.5fr 1fr;
        grid-template-columns: 1fr 3.5fr 1fr;
  }
}

@media (max-width: 675px) {
  #sign-in .center h1 {
    font-size: 1.55rem;
  }
  #sign-in .login {
    -ms-grid-columns: 0fr 1fr 0fr;
        grid-template-columns: 0fr 1fr 0fr;
  }
  #sign-in .login .form label {
    font-size: 1.05rem;
  }
}

#foot {
  background: #333333;
}

#foot .upper-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#foot .upper-foot .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#foot .upper-foot .items li {
  padding: 1rem;
}

#foot .upper-foot .items li a {
  font-size: 1.2rem;
  font-weight: 200;
  color: #ffffff;
}

#foot .upper-foot .items li a:hover {
  color: #007BFF;
}

#foot .upper-foot .social i {
  color: #007BFF;
  padding: 0.75rem;
  font-size: larger;
}

#foot .lower-foot {
  margin-top: 1.5rem;
  text-align: center;
  color: #ffffff;
}

#foot .lower-foot p {
  font-size: 1.2rem;
  font-weight: 200;
}

@media (max-width: 800px) {
  #foot .upper-foot .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 1.5rem;
  }
  #foot .upper-foot .items li {
    padding: 0.5rem;
  }
  #foot .upper-foot .items li a {
    font-size: 1.1rem;
  }
  #foot .lower-foot {
    margin-top: 2rem;
  }
  #foot .lower-foot p {
    font-size: 1.1rem;
  }
}

.smenu-lines {
  position: relative;
  z-index: 5;
  display: none;
}

.smenu-lines .line {
  height: 0.2rem;
  width: 2rem;
  border-radius: 5px;
  background: #007BFF;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.smenu-lines .line:not(.l-3) {
  margin-bottom: 0.2rem;
}

.smenu-lines:hover {
  cursor: pointer;
}

.smenu-lines.rotate .line {
  position: fixed;
}

.smenu-lines.rotate .line.l-1 {
  display: none;
}

.smenu-lines.rotate .line.l-2 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.smenu-lines.rotate .line.l-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1075px) {
  #home-header nav {
    z-index: 6;
  }
  #home-header nav .menu-items {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(51, 51, 51, 0.75);
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  #home-header nav .menu-items.show {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  #home-header nav .menu-items .menu-item {
    margin-bottom: 2.5rem;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 0.2s 0.5s  ease-in-out;
    transition: -webkit-transform 0.2s 0.5s  ease-in-out;
    transition: transform 0.2s 0.5s  ease-in-out;
    transition: transform 0.2s 0.5s  ease-in-out, -webkit-transform 0.2s 0.5s  ease-in-out;
  }
  #home-header nav .menu-items .menu-item a:not(.last-item) {
    margin-bottom: 1.5rem;
  }
  #home-header nav .menu-items .menu-item.visible {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .smenu-lines {
    display: block;
  }
}

@media (max-width: 750px) {
  #home-header nav .menu-items {
    width: 45%;
  }
}

@media (max-width: 650px) {
  #home-header nav .menu-items {
    width: 55%;
  }
}

@media (max-width: 550px) {
  #home-header nav .menu-items {
    width: 65%;
  }
}
