@import 'variables';

.smenu-lines{
    position:relative;
    z-index:5;
    display: none;

    .line{
        height:0.2rem;
        width:2rem;
        border-radius: 5px;
        background: $main-color;
        transition:transform 0.1s ease-in-out;

        &:not(.l-3){
            margin-bottom:0.2rem;
        }
    }

    &:hover{
        cursor:pointer;
    }

    &.rotate{

        .line{
            position: fixed;
            
            &.l-1{
                display: none;
            }

            &.l-2{
                transform: rotate(45deg);
            }

            &.l-3{
                transform: rotate(-45deg);
            }
        }
    }
}

@media(max-width:1075px){

    #home-header{

        nav{
            z-index:6;

            .menu-items{      
                position: fixed;
                top:0;
                right:0;
                height:100vh;
                width:40%;
                flex-direction: column;
                align-items: center; 
                justify-content: center;
                background: rgba($color:$dark-color, $alpha:0.75);
                transform: translateX(1500px);
                transition: transform 0.5s ease-in-out;

                &.show{
                    transform: translateX(0px);
                }

                .menu-item{
                    margin-bottom: 2.5rem;
                    transform:scale(0); 
                    transition:transform 0.2s 0.5s  ease-in-out;

                    a{
                        &:not(.last-item){
                            margin-bottom: 1.5rem;
                        }
                    }

                    &.visible{
                        transform:scale(1);
                    }
                }
            }
        }
    }

    .smenu-lines{
        display: block;
    }
}

@media(max-width:750px){
    #home-header{

        nav{

            .menu-items{      
                width:45%;
            }
        }
    }
}

@media(max-width:650px){
    #home-header{

        nav{

            .menu-items{      
                width:55%;
            }
        }
    }
}

@media(max-width:550px){
    #home-header{

        nav{

            .menu-items{      
                width:65%;
            }
        }
    }
}
