@import 'variables';

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    line-height: 1.7;
    font-weight: 350;
}

.container{
    max-width: 1200px;
    padding:1.5rem 2.5rem;
    margin:auto;
    overflow: hidden;
}

.py-1{padding:1.5rem 0;}
.py-2{padding:2.5rem 0;}
.py-3{padding:3.5rem 0;}

.img-container{

    img{
        height:100%;
        width:100%;
    }
}

ul li{
    list-style:none;
}

a{
    text-decoration: none;
}

%btnshared{
    display: inline-block;
    margin-top:1rem;
    color:$light-color;
    border:1px solid $main-color;
    border-radius: 3px;
}

.btn{
    @extend %btnshared;
    font-size: 1.1rem;
    padding:0.4rem 1.4rem;
    transition: all 0.2s ease-in-out;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:0.5rem 2rem;

    h1{
        font-size: 2.1rem;
        font-weight:400;
        margin-bottom: 0.5rem;
    }

    .btm-line{
        height:2px;
        width:10rem;
        margin-bottom:1rem;
        background: $main-color;
    }

    p{
        font-size: 1.2rem;
        font-weight: 400;
    }
}

h1{
    font-weight: 300;
}

@media(max-width:1075px){
    
    .center{

        h1{
            font-size:2rem;
            margin-bottom: 0.4rem;
        }

        .btm-line{
            margin-bottom:0.75rem;
        }
    
        p{
            font-size: 1.1rem;
        }
    }
}

@media(max-width:875px){

    .btn{
        font-size: 1rem;
        padding:0.3rem 1.2rem;
    }

    .center{

        h1{
            font-weight: 300;
        }
    }
}

@media(max-width:750px){

    .center{

        h1{
            font-size:1.7rem;
        }

        p{
            font-size: 1rem;
        }
    }
}

@media(max-width:600px){
    .center{
        
       h1{
           font-size: 1.65rem;
       } 
    }
}