@import 'variables';

#working{
    background: $bg-color;

    .contents{
        display: grid;
        grid-template-columns: 1fr 4fr;

        .content{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap:3rem;

            .img-container{
                height:100%;
            }

            .infos{

                .info1{
                    display:flex;

                    .number{
                        height:3.5rem;
                        width:4rem;
                        border:1px solid $main-color;
                        border-radius:50%;
                        text-align: center;
                    }
                }
            }
        }
    }
}